<div class="container">
  <h1 class="title">Stupid Coaching</h1>

  <form action="/answer">
    <label for="">Ask your coach anything:</label>
    <div class="input">
      <input type="text" name="question">
      <input type="submit" value="Ask!">
    </div>
  </form>
</div>
